# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# RStudio files
.Rproj.user/
*.Rproj

# Cache files
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# OS specific files
.DS_Store
Thumbs.db
